#musealId-wrapper {
  border: 1px dotted #92aab8;
  padding: 4px 5px 3px 5px;
  background-color: azure;
  display: inline-block;
  padding: 5px;
}

#ma-buttons {
  border: 1px dotted #92aab8;
  padding: 4px 5px 3px 5px;
  background-color: azure;
}

#ma-buttons img {
  width: auto;
  height: 15px;
  vertical-align: bottom;
}
.img-container {
  position: relative;
  text-align: center;
  margin-left: 5px;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  background-color: black;
}
